{% extends 'bezoeker/bezoeker_base.html.twig' %}

{% block main %}
<div class="container w-75 mb-5">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="inputEmailaddress">Email</label>
        <input type="email" class="form-control mb-2" value="{{ last_username }}" name="emailaddress" id="inputEmailaddress" class="form-control" required autofocus>
        <label for="inputPassword">Wachtwoord</label>
        <input type="password" class=" form-control mb-2" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary mb-2" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
