{% extends 'leden/leden_base.html.twig' %}

{% block main %}
    <div class="container">
        <div class="row mb-5" style="background-color: #f2f0f0">
            <a class="text-dark p-2 {{ (date("now").format('Y-m-d') == date) ?' badge-pill badge-warning':'' }}" href="{{ path('leden_lessen_inschrijven_datum', {date : date("now")|date("Y-m-d")}) }}">VANDAAG</a>
            {% for i in 1..13 %}
                <a class=" text-dark p-2 {{ (date("now")|date_modify("+#{i} day")|date("Y-m-d") == date)?' badge-pill badge-warning':'' }}" href="{{ path('leden_lessen_inschrijven_datum', {date:date("now")|date_modify("+#{i} day")|date("Y-m-d")}) }}">{{ date("now")|date_modify("+#{i} day")|date("D d M") }}</a>
            {% endfor %}
            <a class="text-dark p-2 {{ (later)?'badge-pill badge-warning':'' }}" href="{{ path('leden_lessen_inschrijven_datum_later') }}">LATER</a>
        </div>
        {% if later %}
            {% for les in lessenRepo.getLaterDate(date("now")|date_modify("+13 day")) %}
                <div class="row mb-5" >
                    <div class="col-sm-3">
                        <img src="{{ asset("img/#{les.training.imageDir }") }}" class="card-image" alt="">
                    </div>
                    <div class="col-sm-9">
                        <h5 class="card-title">{{ les.training.naam }}, {{ les.id }}</h5>
                        <p>{{ les.time|date("H:i") }}</p>
                        {% if  registrations.checkRepeatedRegistration(member,les)|length > 0 %}
                            <p class="content-title">U heeft zich al ingeschreven bij deze les.</p>
                        {% endif %}
                        {% if les.maxPersons <= registrations.memberCount(les)|length %}
                            <p class="content-title">Excuses, de les is al vol.</p>
                            <p class="content-title">Probeer een andere les.</p>
                        {% endif %}
                        {% if les.maxPersons > registrations.memberCount(les)|length and  registrations.checkRepeatedRegistration(member,les)|length == 0 %}
                            <a href="{{ path('leden_lessen_inschrijven',{id:les.id}) }}" class="btn btn-primary">Schrijf in!</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            {% if lessen is empty %}
                <p>Helaas zijn er geen lessen ingepland op deze datum.</p>
            {% endif %}
            {% for les in lessen %}
                <div class="row mb-5" >
                    <div class="col-sm-3">
                        <img src="{{ asset("img/#{les.training.imageDir }") }}" class="card-image" alt="">
                    </div>
                    <div class="col-sm-9">
                        <h5 class="card-title">{{ les.training.naam }}, {{ les.id }}</h5>
                        <p>{{ les.time|date("H:i") }}</p>
                        {% if member.disabled == 0 %}
                            <p>U kunt zich niet inschrijven op een les. Voor meer informatie moet u <a href="{{ path('bezoeker_contact') }}">contact</a> met ons.</p>
                        {% else %}
                            {% if  registrations.checkRepeatedRegistration(member,les)|length > 0 %}
                                <p class="content-title">U heeft zich al ingeschreven bij deze les.</p>
                            {% endif %}
                            {% if les.maxPersons <= registrations.memberCount(les)|length %}
                                <p class="content-title">Excuses, de les is al vol.</p>
                                <p class="content-title">Probeer een andere les.</p>
                            {% endif %}
                            {% if les.maxPersons > registrations.memberCount(les)|length and  registrations.checkRepeatedRegistration(member,les)|length == 0 %}
                                <a href="{{ path('leden_lessen_inschrijven',{id:les.id}) }}" class="btn btn-primary">Schrijf in!</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}



