{% extends 'base.html.twig' %}

{% block header %}
<div class="w-100">
    <div class="row w-100">
        <div class="col-lg-9 ">
            <img class="w-50" src="{{ asset('img/logo.png') }}" alt="Logo">
        </div>
        <div class="col-lg-3 mt-auto">
            <form action="" method="post">
                <div class="form-group mb-1">
                    <input type="text" class="form-check w-100" placeholder="username">
                </div>
                <div class="form-group">
                    <input type="text" class="form-check w-100" placeholder="wachtwoord">
                </div>
                <div class="form-group float-right">
                    <button class="m-1 text-danger inline-block">inloggen</button>
                    <button class="m-1 text-danger inline-block">reset ww</button>
                </div>
            </form>
        </div>
    </div>
    <hr class="bg-danger m-0">
</div>
<nav class="navbar navbar-expand-lg p-0 navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <li class="nav-item">
                {% if (page_name == 'app_bezoeker_home') %}
                    <a class="nav-link nav-line text-danger active" href={{ path('app_bezoeker_home') }}>Home</a>
                {% else %}
                    <a class="nav-link nav-line text-danger" href={{ path('app_bezoeker_home') }}>Home</a>
                {% endif %}
            <li class="nav-item">
                {% if (page_name == 'app_bezoeker_trainings_aanbod') %}
                    <a class="nav-link nav-line text-danger active" href="{{ path('app_bezoeker_home') }}">Trainings Aanbod</a>
                {% else %}
                    <a class="nav-link nav-line text-danger" href="{{ path('app_bezoeker_home') }}">Trainings Aanbod</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if (page_name == 'app_bezoeker_registreren') %}
                    <a class="nav-link nav-line text-danger active" href="{{ path('app_bezoeker_registreren') }}">Lid worden</a>
                {% else %}
                <a class="nav-link nav-line text-danger" href="{{ path('app_bezoeker_registreren') }}">Lid worden</a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if (page_name == 'app_bezoeker_contact') %}
                    <a class="nav-link nav-line text-danger active" href="{{ path('app_bezoeker_home') }}">Locatie & contact</a>
                {% else %}
                    <a class="nav-link nav-line text-danger" href="{{ path('app_bezoeker_home') }}">Locatie & contact</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class="w-100 border border-secondary mb-5">
    <div class="d-none d-xl-block">
        <div class="row w-100 m-0 mt-1 mb-3">
            <div class="col-md-4 mb-2">
                <img src="{{ asset('img/foto_1.png') }}" class="image-slide" alt="foto_1">
            </div>
            <div class="col-md-4 mb-2">
                <img src="{{ asset('img/foto_2.png') }}" class="image-slide" alt="foto_1">
            </div>
            <div class="col-md-4 mb-2">
                <img src="{{ asset('img/foto_3.png') }}" class="image-slide" alt="foto_1">
            </div>
        </div>
    </div>
    <div class="d-xl-none">
        <div class="row w-100 m-0 mt-1 mb-3">
            <div class="col-xl-12 mb-2">
                <img src="{{ asset('img/foto_1.png') }}" class="image-slide" alt="foto_1">
            </div>
        </div>
    </div>
    {% endblock %}
    {% block main %}{% endblock %}
    {% block footer %}
        <footer class="fixed-bottom w-100 p-1 bg-secondary text-center">
            <p class="text-danger">Training Centrum Den Haag 010 519 0532</p>
            <small class="text-white">developed bij FastDevelopment 2019</small>
        </footer>
    {% endblock %}


